<h1>On Users Logged In Page</h1>

<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<h2><%= session[:user_name] %></h2>

<% @secret.each do |secret| %>
  <p><%= secret.content %></p>
<% end %>

<h2><%= @user.name %> Add a New Secret</h2>

<form action="/secrets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="secrets[user_id]" value="<%= @user.id %>">
  <p>Add a Secret:
    <input type="text" name="secrets[content]"></p>
  <p><button>Add</button></p>
</form>